body{
  background-color: lightblue;
}
.container{
  background-color: white;
}
.logo-img{
  width: 30%;
  height: auto;
  margin-bottom:  10px;
}
.img-social{
  width: 20px;
  height: 20px;
}
.img-social:hover{
  border: 1px solid white;
}
.redes-sociales{
  margin-top: 45px;
  float: right;
}
#banner nav {
  font-size: 1.143em;
  margin: 0 auto 2em auto;
  padding: 0;
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#banner nav a:hover, #banner nav a:active{
		border-radius: 15px 10px;
    background: hsla(200, 60%, 50%, 0.65);
    text-shadow: none !important;
  }
	#banner nav .active a:link, #banner nav .active a:visited {
		border-radius: 15px 6px;
		text-shadow: none !important;
    background: #3399cc;
    color: #fff;
	}
@media (min-width: 320px) {
  .centrar{
    width: 100%;
    height: auto;
    flex: column;
    text-align: center;
    }
}

li{
  margin-left: 60px;
  margin-right:30px;
}
.logo-img2{
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.mysize{
  font-size: 2em;
}
.search{
  padding-left: 20px;

}
